parameters:
	ignoreErrors:
		-
			message: '#^Access to an undefined property App\\Livewire\\MunicipalMarketplaceDashboard\:\:\$priceIndexSummary\.$#'
			identifier: property.notFound
			count: 1
			path: app/Livewire/MunicipalMarketplaceDashboard.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$category\.$#'
			identifier: property.notFound
			count: 1
			path: app/Livewire/MunicipalMarketplaceDashboard.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$farmerProfile\.$#'
			identifier: property.notFound
			count: 1
			path: app/Livewire/MunicipalMarketplaceDashboard.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$full_name\.$#'
			identifier: property.notFound
			count: 1
			path: app/Livewire/MunicipalMarketplaceDashboard.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$name\.$#'
			identifier: property.notFound
			count: 1
			path: app/Livewire/MunicipalMarketplaceDashboard.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$unit_of_measure\.$#'
			identifier: property.notFound
			count: 2
			path: app/Livewire/MunicipalMarketplaceDashboard.php

		-
			message: '#^Method App\\Livewire\\MunicipalMarketplaceDashboard\:\:harvestProducts\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Livewire/MunicipalMarketplaceDashboard.php

		-
			message: '#^Method App\\Livewire\\MunicipalMarketplaceDashboard\:\:kpis\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: app/Livewire/MunicipalMarketplaceDashboard.php

		-
			message: '#^Method App\\Livewire\\MunicipalMarketplaceDashboard\:\:myHarvestProducts\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Livewire/MunicipalMarketplaceDashboard.php

		-
			message: '#^Method App\\Livewire\\MunicipalMarketplaceDashboard\:\:paginateCollection\(\) has parameter \$items with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: app/Livewire/MunicipalMarketplaceDashboard.php

		-
			message: '#^Method App\\Livewire\\MunicipalMarketplaceDashboard\:\:paginateCollection\(\) return type with generic class Illuminate\\Pagination\\LengthAwarePaginator does not specify its types\: TKey, TValue$#'
			identifier: missingType.generics
			count: 1
			path: app/Livewire/MunicipalMarketplaceDashboard.php

		-
			message: '#^Method App\\Livewire\\MunicipalMarketplaceDashboard\:\:paginatedPriceIndex\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Livewire/MunicipalMarketplaceDashboard.php

		-
			message: '#^Method App\\Livewire\\MunicipalMarketplaceDashboard\:\:pendingProducers\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Livewire/MunicipalMarketplaceDashboard.php

		-
			message: '#^Method App\\Livewire\\MunicipalMarketplaceDashboard\:\:priceIndexSummary\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Livewire/MunicipalMarketplaceDashboard.php

		-
			message: '#^Method App\\Livewire\\MunicipalMarketplaceDashboard\:\:userInquiries\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Livewire/MunicipalMarketplaceDashboard.php

		-
			message: '#^Parameter \#1 \$callback of method Illuminate\\Database\\Eloquent\\Collection\<\(int\|string\),Illuminate\\Database\\Eloquent\\Collection\<int, App\\Models\\Listing\>\>\:\:map\(\) contains unresolvable type\.$#'
			identifier: argument.unresolvableType
			count: 1
			path: app/Livewire/MunicipalMarketplaceDashboard.php

		-
			message: '#^Parameter \#1 \$num of function round expects float\|int, float\|int\<min, \-1\>\|int\<1, max\>\|string given\.$#'
			identifier: argument.type
			count: 1
			path: app/Livewire/MunicipalMarketplaceDashboard.php

		-
			message: '#^Return type of call to method Illuminate\\Database\\Eloquent\\Collection\<\(int\|string\),Illuminate\\Database\\Eloquent\\Collection\<int, App\\Models\\Listing\>\>\:\:map\(\) contains unresolvable type\.$#'
			identifier: method.unresolvableReturnType
			count: 1
			path: app/Livewire/MunicipalMarketplaceDashboard.php

		-
			message: '#^Return type of call to method Illuminate\\Support\\Collection\<\(int\|string\),array\<string, mixed\>\>\:\:values\(\) contains unresolvable type\.$#'
			identifier: method.unresolvableReturnType
			count: 1
			path: app/Livewire/MunicipalMarketplaceDashboard.php

		-
			message: '#^Unable to resolve the template type TGroupKey in call to method Illuminate\\Support\\Collection\<int,App\\Models\\Listing\>\:\:groupBy\(\)$#'
			identifier: argument.templateType
			count: 1
			path: app/Livewire/MunicipalMarketplaceDashboard.php

		-
			message: '#^Using nullsafe property access "\?\-\>farm_location" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Livewire/MunicipalMarketplaceDashboard.php

		-
			message: '#^Using nullsafe property access "\?\-\>name" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 2
			path: app/Livewire/MunicipalMarketplaceDashboard.php

		-
			message: '#^Using nullsafe property access "\?\-\>unit_of_measure" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Livewire/MunicipalMarketplaceDashboard.php

		-
			message: '#^Class App\\Models\\AuditLog uses generic trait Illuminate\\Database\\Eloquent\\Factories\\HasFactory but does not specify its types\: TFactory$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/AuditLog.php

		-
			message: '#^Method App\\Models\\AuditLog\:\:admin\(\) return type with generic class Illuminate\\Database\\Eloquent\\Relations\\BelongsTo does not specify its types\: TRelatedModel, TDeclaringModel$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/AuditLog.php

		-
			message: '#^Method App\\Models\\AuditLog\:\:log\(\) has parameter \$details with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: app/Models/AuditLog.php

		-
			message: '#^Class App\\Models\\BuyerProfile uses generic trait Illuminate\\Database\\Eloquent\\Factories\\HasFactory but does not specify its types\: TFactory$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/BuyerProfile.php

		-
			message: '#^Method App\\Models\\BuyerProfile\:\:user\(\) return type with generic class Illuminate\\Database\\Eloquent\\Relations\\BelongsTo does not specify its types\: TRelatedModel, TDeclaringModel$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/BuyerProfile.php

		-
			message: '#^Class App\\Models\\Category uses generic trait Illuminate\\Database\\Eloquent\\Factories\\HasFactory but does not specify its types\: TFactory$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/Category.php

		-
			message: '#^Method App\\Models\\Category\:\:commodities\(\) return type with generic class Illuminate\\Database\\Eloquent\\Relations\\HasMany does not specify its types\: TRelatedModel, TDeclaringModel$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/Category.php

		-
			message: '#^Class App\\Models\\Commodity uses generic trait Illuminate\\Database\\Eloquent\\Factories\\HasFactory but does not specify its types\: TFactory$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/Commodity.php

		-
			message: '#^Method App\\Models\\Commodity\:\:category\(\) return type with generic class Illuminate\\Database\\Eloquent\\Relations\\BelongsTo does not specify its types\: TRelatedModel, TDeclaringModel$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/Commodity.php

		-
			message: '#^Method App\\Models\\Commodity\:\:latestPriceRecord\(\) return type with generic class Illuminate\\Database\\Eloquent\\Relations\\HasOne does not specify its types\: TRelatedModel, TDeclaringModel$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/Commodity.php

		-
			message: '#^Method App\\Models\\Commodity\:\:listings\(\) return type with generic class Illuminate\\Database\\Eloquent\\Relations\\HasMany does not specify its types\: TRelatedModel, TDeclaringModel$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/Commodity.php

		-
			message: '#^Method App\\Models\\Commodity\:\:priceRecords\(\) return type with generic class Illuminate\\Database\\Eloquent\\Relations\\HasMany does not specify its types\: TRelatedModel, TDeclaringModel$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/Commodity.php

		-
			message: '#^Class App\\Models\\FarmerProfile uses generic trait Illuminate\\Database\\Eloquent\\Factories\\HasFactory but does not specify its types\: TFactory$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/FarmerProfile.php

		-
			message: '#^Method App\\Models\\FarmerProfile\:\:user\(\) return type with generic class Illuminate\\Database\\Eloquent\\Relations\\BelongsTo does not specify its types\: TRelatedModel, TDeclaringModel$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/FarmerProfile.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$available_quantity\.$#'
			identifier: property.notFound
			count: 1
			path: app/Models/Inquiry.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$farmer\.$#'
			identifier: property.notFound
			count: 1
			path: app/Models/Inquiry.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$farmer_id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Models/Inquiry.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$message\.$#'
			identifier: property.notFound
			count: 1
			path: app/Models/Inquiry.php

		-
			message: '#^Class App\\Models\\Inquiry uses generic trait Illuminate\\Database\\Eloquent\\Factories\\HasFactory but does not specify its types\: TFactory$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/Inquiry.php

		-
			message: '#^Method App\\Models\\Inquiry\:\:buyer\(\) return type with generic class Illuminate\\Database\\Eloquent\\Relations\\BelongsTo does not specify its types\: TRelatedModel, TDeclaringModel$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/Inquiry.php

		-
			message: '#^Method App\\Models\\Inquiry\:\:getFarmerAttribute\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Models/Inquiry.php

		-
			message: '#^Method App\\Models\\Inquiry\:\:getFarmerIdAttribute\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Models/Inquiry.php

		-
			message: '#^Method App\\Models\\Inquiry\:\:getIdAttribute\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Models/Inquiry.php

		-
			message: '#^Method App\\Models\\Inquiry\:\:getPickupDateAttribute\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Models/Inquiry.php

		-
			message: '#^Method App\\Models\\Inquiry\:\:getProductAttribute\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Models/Inquiry.php

		-
			message: '#^Method App\\Models\\Inquiry\:\:getProductIdAttribute\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Models/Inquiry.php

		-
			message: '#^Method App\\Models\\Inquiry\:\:getQuantityAttribute\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Models/Inquiry.php

		-
			message: '#^Method App\\Models\\Inquiry\:\:latestMessage\(\) return type with generic class Illuminate\\Database\\Eloquent\\Relations\\HasOne does not specify its types\: TRelatedModel, TDeclaringModel$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/Inquiry.php

		-
			message: '#^Method App\\Models\\Inquiry\:\:listing\(\) return type with generic class Illuminate\\Database\\Eloquent\\Relations\\BelongsTo does not specify its types\: TRelatedModel, TDeclaringModel$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/Inquiry.php

		-
			message: '#^Method App\\Models\\Inquiry\:\:messages\(\) return type with generic class Illuminate\\Database\\Eloquent\\Relations\\HasMany does not specify its types\: TRelatedModel, TDeclaringModel$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/Inquiry.php

		-
			message: '#^Method App\\Models\\Inquiry\:\:notifications\(\) return type with generic class Illuminate\\Database\\Eloquent\\Relations\\HasMany does not specify its types\: TRelatedModel, TDeclaringModel$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/Inquiry.php

		-
			message: '#^Method App\\Models\\Inquiry\:\:setProductIdAttribute\(\) has parameter \$value with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: app/Models/Inquiry.php

		-
			message: '#^Using nullsafe property access "\?\-\>available_quantity" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Models/Inquiry.php

		-
			message: '#^Using nullsafe property access "\?\-\>message" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Models/Inquiry.php

		-
			message: '#^Class App\\Models\\InquiryMessage uses generic trait Illuminate\\Database\\Eloquent\\Factories\\HasFactory but does not specify its types\: TFactory$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/InquiryMessage.php

		-
			message: '#^Method App\\Models\\InquiryMessage\:\:inquiry\(\) return type with generic class Illuminate\\Database\\Eloquent\\Relations\\BelongsTo does not specify its types\: TRelatedModel, TDeclaringModel$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/InquiryMessage.php

		-
			message: '#^Method App\\Models\\InquiryMessage\:\:sender\(\) return type with generic class Illuminate\\Database\\Eloquent\\Relations\\BelongsTo does not specify its types\: TRelatedModel, TDeclaringModel$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/InquiryMessage.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$category\.$#'
			identifier: property.notFound
			count: 1
			path: app/Models/Listing.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$farmerProfile\.$#'
			identifier: property.notFound
			count: 1
			path: app/Models/Listing.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$name\.$#'
			identifier: property.notFound
			count: 1
			path: app/Models/Listing.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$unit_of_measure\.$#'
			identifier: property.notFound
			count: 1
			path: app/Models/Listing.php

		-
			message: '#^Class App\\Models\\Listing uses generic trait Illuminate\\Database\\Eloquent\\Factories\\HasFactory but does not specify its types\: TFactory$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/Listing.php

		-
			message: '#^Method App\\Models\\Listing\:\:commodity\(\) return type with generic class Illuminate\\Database\\Eloquent\\Relations\\BelongsTo does not specify its types\: TRelatedModel, TDeclaringModel$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/Listing.php

		-
			message: '#^Method App\\Models\\Listing\:\:farmer\(\) return type with generic class Illuminate\\Database\\Eloquent\\Relations\\BelongsTo does not specify its types\: TRelatedModel, TDeclaringModel$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/Listing.php

		-
			message: '#^Method App\\Models\\Listing\:\:getIdAttribute\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Models/Listing.php

		-
			message: '#^Method App\\Models\\Listing\:\:getPriceAttribute\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Models/Listing.php

		-
			message: '#^Method App\\Models\\Listing\:\:getQuantityAttribute\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Models/Listing.php

		-
			message: '#^Method App\\Models\\Listing\:\:getUserIdAttribute\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Models/Listing.php

		-
			message: '#^Method App\\Models\\Listing\:\:images\(\) return type with generic class Illuminate\\Database\\Eloquent\\Relations\\HasMany does not specify its types\: TRelatedModel, TDeclaringModel$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/Listing.php

		-
			message: '#^Method App\\Models\\Listing\:\:inquiries\(\) return type with generic class Illuminate\\Database\\Eloquent\\Relations\\HasMany does not specify its types\: TRelatedModel, TDeclaringModel$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/Listing.php

		-
			message: '#^Method App\\Models\\Listing\:\:moderationReviews\(\) return type with generic class Illuminate\\Database\\Eloquent\\Relations\\HasMany does not specify its types\: TRelatedModel, TDeclaringModel$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/Listing.php

		-
			message: '#^Method App\\Models\\Listing\:\:primaryImage\(\) return type with generic class Illuminate\\Database\\Eloquent\\Relations\\HasOne does not specify its types\: TRelatedModel, TDeclaringModel$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/Listing.php

		-
			message: '#^Method App\\Models\\Listing\:\:setNameAttribute\(\) has parameter \$value with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: app/Models/Listing.php

		-
			message: '#^Method App\\Models\\Listing\:\:setPriceAttribute\(\) has parameter \$value with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: app/Models/Listing.php

		-
			message: '#^Method App\\Models\\Listing\:\:setQuantityAttribute\(\) has parameter \$value with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: app/Models/Listing.php

		-
			message: '#^Method App\\Models\\Listing\:\:setUserIdAttribute\(\) has parameter \$value with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: app/Models/Listing.php

		-
			message: '#^Using nullsafe property access "\?\-\>farm_location" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Models/Listing.php

		-
			message: '#^Using nullsafe property access "\?\-\>name" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 2
			path: app/Models/Listing.php

		-
			message: '#^Using nullsafe property access "\?\-\>unit_of_measure" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Models/Listing.php

		-
			message: '#^Class App\\Models\\ListingImage uses generic trait Illuminate\\Database\\Eloquent\\Factories\\HasFactory but does not specify its types\: TFactory$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/ListingImage.php

		-
			message: '#^Method App\\Models\\ListingImage\:\:listing\(\) return type with generic class Illuminate\\Database\\Eloquent\\Relations\\BelongsTo does not specify its types\: TRelatedModel, TDeclaringModel$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/ListingImage.php

		-
			message: '#^Class App\\Models\\ModerationReview uses generic trait Illuminate\\Database\\Eloquent\\Factories\\HasFactory but does not specify its types\: TFactory$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/ModerationReview.php

		-
			message: '#^Method App\\Models\\ModerationReview\:\:admin\(\) return type with generic class Illuminate\\Database\\Eloquent\\Relations\\BelongsTo does not specify its types\: TRelatedModel, TDeclaringModel$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/ModerationReview.php

		-
			message: '#^Method App\\Models\\ModerationReview\:\:listing\(\) return type with generic class Illuminate\\Database\\Eloquent\\Relations\\BelongsTo does not specify its types\: TRelatedModel, TDeclaringModel$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/ModerationReview.php

		-
			message: '#^Class App\\Models\\Notification uses generic trait Illuminate\\Database\\Eloquent\\Factories\\HasFactory but does not specify its types\: TFactory$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/Notification.php

		-
			message: '#^Method App\\Models\\Notification\:\:inquiry\(\) return type with generic class Illuminate\\Database\\Eloquent\\Relations\\BelongsTo does not specify its types\: TRelatedModel, TDeclaringModel$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/Notification.php

		-
			message: '#^Method App\\Models\\Notification\:\:user\(\) return type with generic class Illuminate\\Database\\Eloquent\\Relations\\BelongsTo does not specify its types\: TRelatedModel, TDeclaringModel$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/Notification.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$category\.$#'
			identifier: property.notFound
			count: 1
			path: app/Models/PriceRecord.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$name\.$#'
			identifier: property.notFound
			count: 1
			path: app/Models/PriceRecord.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$unit_of_measure\.$#'
			identifier: property.notFound
			count: 1
			path: app/Models/PriceRecord.php

		-
			message: '#^Class App\\Models\\PriceRecord uses generic trait Illuminate\\Database\\Eloquent\\Factories\\HasFactory but does not specify its types\: TFactory$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/PriceRecord.php

		-
			message: '#^Method App\\Models\\PriceRecord\:\:commodity\(\) return type with generic class Illuminate\\Database\\Eloquent\\Relations\\BelongsTo does not specify its types\: TRelatedModel, TDeclaringModel$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/PriceRecord.php

		-
			message: '#^Method App\\Models\\PriceRecord\:\:getPriceAttribute\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Models/PriceRecord.php

		-
			message: '#^Using nullsafe property access "\?\-\>name" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 2
			path: app/Models/PriceRecord.php

		-
			message: '#^Using nullsafe property access "\?\-\>unit_of_measure" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Models/PriceRecord.php

		-
			message: '#^Method App\\Models\\Product\:\:create\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Models/Product.php

		-
			message: '#^Method App\\Models\\Product\:\:create\(\) has parameter \$attributes with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: app/Models/Product.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 1
			path: app/Models/Product.php

		-
			message: '#^Method App\\Models\\User\:\:auditLogs\(\) return type with generic class Illuminate\\Database\\Eloquent\\Relations\\HasMany does not specify its types\: TRelatedModel, TDeclaringModel$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/User.php

		-
			message: '#^Method App\\Models\\User\:\:buyerInquiries\(\) return type with generic class Illuminate\\Database\\Eloquent\\Relations\\HasMany does not specify its types\: TRelatedModel, TDeclaringModel$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/User.php

		-
			message: '#^Method App\\Models\\User\:\:buyerProfile\(\) return type with generic class Illuminate\\Database\\Eloquent\\Relations\\HasOne does not specify its types\: TRelatedModel, TDeclaringModel$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/User.php

		-
			message: '#^Method App\\Models\\User\:\:farmerProfile\(\) return type with generic class Illuminate\\Database\\Eloquent\\Relations\\HasOne does not specify its types\: TRelatedModel, TDeclaringModel$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/User.php

		-
			message: '#^Method App\\Models\\User\:\:getIdAttribute\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Models/User.php

		-
			message: '#^Method App\\Models\\User\:\:listings\(\) return type with generic class Illuminate\\Database\\Eloquent\\Relations\\HasMany does not specify its types\: TRelatedModel, TDeclaringModel$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/User.php

		-
			message: '#^Method App\\Models\\User\:\:moderationReviews\(\) return type with generic class Illuminate\\Database\\Eloquent\\Relations\\HasMany does not specify its types\: TRelatedModel, TDeclaringModel$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/User.php

		-
			message: '#^Method App\\Models\\User\:\:notifications\(\) return type with generic class Illuminate\\Database\\Eloquent\\Relations\\HasMany does not specify its types\: TRelatedModel, TDeclaringModel$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/User.php

		-
			message: '#^Method App\\Models\\User\:\:passkeys\(\) should return Illuminate\\Database\\Eloquent\\Relations\\HasMany\<Laravel\\Passkeys\\Passkey, Illuminate\\Database\\Eloquent\\Model\> but returns Illuminate\\Database\\Eloquent\\Relations\\HasMany\<Laravel\\Passkeys\\Passkey, \$this\(App\\Models\\User\)\>\.$#'
			identifier: return.type
			count: 1
			path: app/Models/User.php

		-
			message: '#^Method App\\Models\\User\:\:setBarangayAttribute\(\) has parameter \$value with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: app/Models/User.php

		-
			message: '#^Method App\\Models\\User\:\:setNameAttribute\(\) has parameter \$value with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: app/Models/User.php

		-
			message: '#^Method App\\Models\\User\:\:setPasswordAttribute\(\) has parameter \$value with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: app/Models/User.php

		-
			message: '#^Method App\\Models\\User\:\:setRsbsaNumberAttribute\(\) has parameter \$value with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: app/Models/User.php

		-
			message: '#^Method App\\Models\\User\:\:setStatusAttribute\(\) has parameter \$value with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: app/Models/User.php

		-
			message: '#^Using nullsafe property access "\?\-\>delivery_address" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Models/User.php

		-
			message: '#^Using nullsafe property access "\?\-\>farm_location" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Models/User.php

		-
			message: '#^Using nullsafe property access "\?\-\>valid_id_url" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Models/User.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$farmer_id\.$#'
			identifier: property.notFound
			count: 2
			path: app/Policies/InquiryPolicy.php

		-
			message: '#^Using nullsafe property access "\?\-\>currentTeam" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 4
			path: routes/web.php
